# 2024 PYQS

## Group - B

In [5]:
# 2a
nested_list = [[10,15], 24, [True], [5, ['Tom', 'Harry'], 10]]
print(nested_list[3][1][1])

Harry

In [ ]:
# 2b
d = {4: 'India', 9: 'USA', 17: 'Japan', 24: 'Australia'}
print([d[i] for i in d.keys() if i%2 == 0])

['India', 'Australia']

In [7]:
# 2c
import re
str = "examination"
pattern = re.compile("a\w\w\w")
print(pattern.findall(str))
print(pattern.sub("yyy", str))
print(pattern.split(str))

['amin', 'atio']
exyyyyyyn
['ex', '', 'n']

In [10]:
# 3a
def is_abecedarian(s):
    # If length is 0 or 1 â†’ automatically abecedarian
    if len(s) <= 1:
        return True
    
    # Check if first two characters are in correct order
    if s[0] > s[1]:
        return False
    
    # Recur on the remaining substring
    return is_abecedarian(s[1:])


lst = ['accddmop', 'addccnm']
res = is_abecedarian(lst)
print(lst)
print(res)

['accddmop', 'addccnm']
True

In [15]:
# 3b
def empInfo(name, /, age, *,dept):
    print(name, age, dept)

empInfo('Pranab', age=40, dept='HRD')
#empInfo('Pranab', 40, 'HRD')
#empInfo(name='Pranab', age=40, dept='HRD')
empInfo('Pranab', 40, dept='HRD')

Pranab 40 HRD
Pranab 40 HRD

In [16]:
# 3c
def swap(lst):
    first, *middle, last = lst
    return [last, *middle, first]

lst = [10, 20, 30, 40]
res = swap(lst)
print(lst, res)

[10, 20, 30, 40] [40, 20, 30, 10]

In [22]:
# 3d - Binary Search
def bin_search(arr, ele):
    l = 0
    h = len(arr) - 1
    
    while (l < h):
        mid = (l + h) // 2
        if (arr[mid] == ele):
            print("Ele. found")
            return True
        elif (arr[mid] > ele):
            h = mid - 1
        elif (arr[mid] < ele):
            l = mid + 1
    
    print("Ele. not found")
    return False

arr = eval(input("Enter a list: "))
ele = int(input("Enter no. to search: "))

print(arr, ele)
bin_search(arr, ele)

[9, 5, 3, 12, 0] 66
Ele. not found

False

## Group - C

In [25]:
# 4a
def fun(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return fun(n//2) + fun(n%2)

res = fun(7)
print(res)
print(type(res))

111
<class 'str'>

In [30]:
# 4b
def pizza_pieces(n):
    if n==0:
        return 1
    else:
        return pizza_pieces (n-1) + n

print(pizza_pieces(9))

def factorial(n):
    if n==0:
        return 1
    else:
        return factorial (n-1) * n

print(factorial(5))

46
120

In [31]:
# 5a
d = {1: "a", 2: "b", 3: "c", 4: "d"}
print(d.values())
print(d.items())

dict_values(['a', 'b', 'c', 'd'])
dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [34]:
# 5b
def some_function(p):
    dp = {}
    
    for order in p:
        print(order, p[order])
        if not order == 0:
            dp[order-1] = order * p[order]
    return dp

print(some_function({0:-3,3:2,5:-1}))

0 -3
3 2
5 -1
{2: 6, 4: -5}

## Group - D

In [36]:
import pandas as pd
import numpy as np

In [39]:
# 6a
data = {
    "City": ["Delhi", "Kolkata", "Mumbai"],
    "2021": [3.118, 1.497, 1.497],
    "2020": [3.029, 1.485, 2.041]
}

df = pd.DataFrame(data)
print(df)

df["2019"] = [2.94, 1.476, 2.019]
print(df)

df["Average"] = df[["2021", "2020", "2019"]].mean(axis=1)
print(df)

      City   2021   2020
0    Delhi  3.118  3.029
1  Kolkata  1.497  1.485
2   Mumbai  1.497  2.041
      City   2021   2020   2019
0    Delhi  3.118  3.029  2.940
1  Kolkata  1.497  1.485  1.476
2   Mumbai  1.497  2.041  2.019
      City   2021   2020   2019   Average
0    Delhi  3.118  3.029  2.940  3.029000
1  Kolkata  1.497  1.485  1.476  1.486000
2   Mumbai  1.497  2.041  2.019  1.852333

In [ ]:
# 6b
marks = {'Ajay': 96, 'Usha': 90, 'Deep': 94, 'Ria': 89}
obj1 = pd.Series(marks)
print(obj1)
student = ['Usha', 'Vijay', 'Ria', 'Ajay']
obj2 = pd.Series(marks, index = student)
print(obj2)
obj3 = pd.Series(student, index = student)
print(obj3)
obj4 = pd.Series(student, index = marks)
print(obj4)
print(pd.isnull(obj2))
print(obj2.iloc[1], obj2.loc["Vijay"])

Ajay    96
Usha    90
Deep    94
Ria     89
dtype: int64
Usha     90.0
Vijay     NaN
Ria      89.0
Ajay     96.0
dtype: float64
Usha      Usha
Vijay    Vijay
Ria        Ria
Ajay      Ajay
dtype: object
Ajay     Usha
Usha    Vijay
Deep      Ria
Ria      Ajay
dtype: object
Usha     False
Vijay     True
Ria      False
Ajay     False
dtype: bool
nan nan

In [50]:
# 7
data = {
    "Name": ["Abhijit", "Lata", "Asha", "Preetam"],
    "Physics": [85, 80, 89, 88],
    "Chemistry": [90, 92, 80, 93],
    "Mathematics": [92, 99, 82, 95]
}

df = pd.DataFrame(data)
print(df)

df["Biology"] = [88, 82, 80, 79]
print(df)

df["Total"] = df[["Physics", "Chemistry", "Mathematics", "Biology"]].sum(axis=1)
print(df)

subjects = ["Physics", "Chemistry", "Mathematics", "Biology"]

totals = [df[sub].sum() for sub in subjects]
means = [df[sub].mean() for sub in subjects]
medians = [df[sub].median() for sub in subjects]
sds = [df[sub].std() for sub in subjects]


df2 = pd.DataFrame({
    "Subject": subjects,
    "Total": totals,
    "Mean": means,
    "Median": medians,
    "SD": sds
})
print(df2)

      Name  Physics  Chemistry  Mathematics
0  Abhijit       85         90           92
1     Lata       80         92           99
2     Asha       89         80           82
3  Preetam       88         93           95
      Name  Physics  Chemistry  Mathematics  Biology
0  Abhijit       85         90           92       88
1     Lata       80         92           99       82
2     Asha       89         80           82       80
3  Preetam       88         93           95       79
      Name  Physics  Chemistry  Mathematics  Biology  Total
0  Abhijit       85         90           92       88    355
1     Lata       80         92           99       82    353
2     Asha       89         80           82       80    331
3  Preetam       88         93           95       79    355
       Subject  Total   Mean  Median        SD
0      Physics    342  85.50    86.5  4.041452
1    Chemistry    355  88.75    91.0  5.965177
2  Mathematics    368  92.00    93.5  7.257180
3      Biology    329  82.25    81.0  4.031129